/* Pseudo-Class Selector (가상클래스 선택자) */
/* selector: 조건 { property: value; } */

/* 1. first-child */

li:first-child {
  color: green;
}

.movie:first-child {
  font-size: 30px;
}

/* 2. last-child */

span:last-child {
  color: tomato;
}

/* 3. nth-child * : ()안에 정수, 함수, 짝수, 홀수 등 가능 */

li:nth-child(3) {
  color: blue;
}