/* 형제 선택자

1. 일반 형제 선택자 결합 : 셀렉터 ~ 셀렉터
- 앞 셀렉터 기준 동일 부모를 가진 형제들 중 밑의 모든 요소에만 적용

2. 인접 형제 선택자 결합 : 셀렉터 + 셀렉터
- 앞 셀렉터 기준 동일 부모를 가진 형제들 중 바로 밑의 요소에만 적용

 */

 code ~ p {
  color: red;
 }

 code + p {
  background-color: blue;
 }

 /* 그룹화 : 셀렉터, 셀렉터 */

 p, span {
  color: purple;
 }