/* z-index : 위치 지정 요소와, 그 자손 또는 하위 플렉스 아이템의 Z축 순서를 지정 -> 더 큰 z-index 값을 가진 요소가 작은 값의 요소 위를 덮음 */

div {
  width: 150px;
  height: 150px;
  background-color: blanchedalmond;
  border: 3px solid orangered;
}

#box2, #box3 {
  margin-top: -30px;
}

#box2 {
  margin-left: 40px;

  position: relative;
}

#box3 {
  position: relative;
  z-index: -1;
}