/* <grid-auto-rows/columns> : 설정한 그리드의 행/과 열을 벗어나는 item들에 대한 값을 지정 */

.container {
  border: 5px dashed orange;

  display: grid;

  grid-template-rows: 100px 150px 80px;
  grid-template-columns: 1fr 1fr 1fr;

  grid-auto-rows: 100px;
  grid-auto-columns: 50px;
}

.item {
  background-color: paleturquoise;
  border: 3px solid blue;
  font-size: 20px;
}