/* <gird-template-areas> : 행/열이 차지할 공간을 지정 */

.container {
  width: 400px;
  height: 400px;
  border: 5px dashed orange;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    "hd hd hd hd hd"
    "ma ma ma . sb"
    "ft ft ft ft ft";
}

.item {
  background-color: paleturquoise;
  border: 3px solid blue;
  font-size: 20px;
}

.header {
  grid-area: hd;
}

.main {
  grid-area: ma;
}

.sidebar {
  grid-area: sb;
}

.footer {
  grid-area: ft;
}