.title2 {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.listWrapper {
  width: 35rem;
  height: 230px;
  overflow-y: scroll;
  border: 2px solid #c0c0c0;
  padding: 5px;
  margin-top: 10px;
}

.listItem {
  display: flex;
  justify-content: space-between;
}
