/* <justify-content> : 주축을 기준으로 item 들을 어떻게 정렬할 것인지 지정 */

/*
값
1. flex-start : 주축을 기준으로 시작점에서 정렬
2. flex-end : 주축을 기준으로 끝나는점에서 정렬
3. center : 주축을 기준으로 가운데 정렬
4. space-between : item 사이의 간격이 동일하게 정렬
5. space-around : item 의 앞뒤로 동일한 간격으로 정렬
*/

.container {
  border: 5px dashed orange;
  display: flex;
  margin: 5px;
  
  justify-content: space-between;
}

.container:nth-child(2) {
  border: 5px dashed blue;
  display: flex;

  justify-content: space-around;
}

.item {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: paleturquoise;
  border: 3px solid blue;
  font-size: 30px;
}