/* 
박스 모델
- content : 콘텐츠가 표시되는 영역
- padding : 콘텐츠와 테두리 사이의 여백
- border : padding과 margin 사이의 테두리
- margin : 가장 바깥 쪽 레이어로 콘텐츠와 패딩, 테두리를 둘러싸면서 해당 박스와 다른 요소 사이 공백 역할
*/

.box {
  width: 200px;
  height: 200px;

  padding: 20px;
  border: 20px solid blue;
  margin: 20px
}
